/* body, h1 and p styling */

* {
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
  min-width: 100vw;
  background-image: url("assets/Olympusloadingscreen.webp");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-family: "Anton", sans-serif;
  overflow: hidden;
}

h1 {
  text-align: center;
  font-weight: 700;
  font-size: 50px;
}

p {
  text-align: center;
  font-size: 40px;
  margin: auto;
  width: 20%;
  padding-top: 20px;
}

/*  Logo styling and positioning for the game and modal logo */

.smite-logo {
  position: relative;
  display: block;
  height: 190px;
  width: 700px;
  padding: 20px;
  margin: auto;
}

.smite-logo2 {
  position: relative;
  display: block;
  height: 160px;
  width: 650px;
  padding: 10px;
  margin: auto;
}

/* action container styling for reset button */

.score-container {
  position: relative;
  float: right;
}

.actions {
  display: flex;
  justify-content: space-between;
  position: relative;
  bottom: 400px;
  margin-right: 100px;
  margin-left: 130px;
  z-index: 1;
  pointer-events: none;
}

.actions button {
  padding: 8px 16px;
  font-size: 30px;
  border-radius: 10px;
  background: linear-gradient(#f7e164, #764f00);
  color: #111d2d;
  cursor: pointer;
  pointer-events: auto;
  font-family: "Anton", sans-serif;
}

/* styling for the cards, needed to create simple math sum to caclculate length width of the card */
.grid-container {
  display: grid;
  justify-content: center;
  grid-gap: 15px;
  padding: 5px;
  grid-template-columns: repeat(6, 140px);
  grid-template-rows: repeat(2, calc(120px / 2 * 3));
  z-index: 2;
}

.card {
  height: calc(120px / 2 * 3);
  width: 140px;
  /* border-radius: 10px; */
  background-color: rgb(0, 0, 0);
  position: relative;
  transform-style: preserve-3d;
  transition: all 0.5s ease-in-out;
}

.front-image {
  height: 100%;
  width: 100%;
  border: solid;
  border-image: linear-gradient(to top, #fdfbfb, #ebcc46) 1 / 2px;
}

.card.flipped {
  transform: rotateY(180deg);
}

.front,
.back {
  backface-visibility: hidden;
  position: absolute;
  border-radius: 10px;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.card .front {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotateY(180deg);
}

.card .back {
  background-image: url("assets/emotecardback.webp");
  background-position: center center;
  background-size: cover;
  backface-visibility: hidden;
  border-image: linear-gradient(to top, rgb(167, 164, 152), rgb(182, 159, 58)) 1 /
    2px;
}

/* This is overlay for the background image to heplp the page contents stand out more */

.overlay {
  width: 100%;
  height: 100%;
  margin: auto;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -1;
}

/* Modal Styling  */

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

/* background of the modal */

.modal-content {
  background: linear-gradient(#f7e164, #764f00);
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  pointer-events: auto;
}

/* Modal Text content  */

p.modal-text {
  line-height: 3;
  height: 100%;
  width: 100%;
  margin: auto;
  padding: 0;
  font-size: 26px;
  color: #111d2d;
}

.modal-container {
  height: 100%;
  position: relative;
  width: auto;
}

/* game rules button  */

#myBtn {
  padding: 8px 16px;
  font-size: 30px;
  border-radius: 10px;
  background: linear-gradient(#f7e164, #764f00);
  color: #111d2d;
  z-index: 1;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  pointer-events: auto;
}
